<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        Name: <td><%= trip.name %></td>
        Description: <td><%= trip.description %></td>
        City: <td><%= trip.city %></td>
        Country: <td><%= trip.country %></td>
        Start Date: <td><%= trip.start_date %></td>
        End Date: <td><%= trip.end_date %></td>
        Weather Condition <% trip.weather_condition.each do |w| %>
        <td> <%= w['date'] %> - <%= w['description'] %><br> </td>
        <% end %>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
<%= link_to 'Sign Out', destroy_user_session_path, class: "btn btn-default btn-sm"  %> 
